{% load static   %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'stls.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.0.13/css/all.css">
</head>
<body>
    <div class="hed"><h1>Tune-Tech Motors</h1></div>
    <div class="img">
        <img src="{% static 'download.jpg %}">
    </div>
    
        <h1>What should i anticipate from a general service at Tune-Tech Motors?</h1>
    </div>
    <ul>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
        <li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
    </ul>

</body>
</html>
